@page
@model EducationModel
@{
    ViewData["Title"] = "Education";
}

<h1>@ViewData["Title"]</h1>

@foreach(var education in Model.EducationList){
    <p>@education.Id</p>
    <p>@education.Title</p>
    <p>@education.Subtitle</p>
    <p>@education.Description</p>
    <p>@education.GNO</p>
    <p>@education.Date</p>

}